<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Huzhou International Students</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!--CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/pogo-slider.min.css">
    <link rel="stylesheet" href="css/style.css">    
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/custom.css">



</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
	
	

	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="index.html"><img src="images/logo.jpg" alt="image" width="100" height="100"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="#home">Home</a></li>
                        <li><a class="nav-link" href="#about">About Us</a></li>
                        <li><a class="nav-link" href="#story">Story</a></li>
                        <li><a class="nav-link" href="#family">Family</a></li>
                        <li><a class="nav-link" href="#gallery">Gallery</a></li>
                        <li><a class="nav-link" href="#events">Events</a></li>
						<li><a class="nav-link" href="#contact">Contact</a></li>
						<button type="button" class="btn btn-outline-danger">Press to exit</button>
                    </ul>
                </div>
            </div>
        </nav>
	</header>
	
	<!-- Start Banner -->
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<div class="pogoSlider" id="js-main-slider">
					<div class="pogoSlider-slide" data-transition="zipReveal" data-duration="1500" style="background-image:url(images/slider-01.jpg);">
						<div class="lbox-caption">
							<div class="lbox-details">
								<h1>MY LIFE AT HUZHOU UNIVERSITY</h1>
								<a href="#contact" class="btn ">Contact</a>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="blocksReveal" data-duration="1500" style="background-image:url(images/slider-02.jpg);">
						<div class="lbox-caption">
							<div class="lbox-details">
								<h2>This Huzhou International Students website has  been designed by <a href="http://www.alecmabhizachirawu@gmail.com/">Alec Mabhiza Chirawu---2017060056</a> for everyone. Everyone can read comments and give likes</h3>
								<a href="#contact" class="btn ">Contact</a>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="shrinkReveal" data-duration="2000" style="background-image:url(images/slider-03.jpg);">
						<div class="lbox-caption">
							<div class="lbox-details">
								<p>Best <strong>20 November 2019</strong></p>
								<a href="#contact" class="btn">Contact</a>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Start About us -->
	<div id="about" class="about-box">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title-box">
							<h2><u>Huzhou have space for every International student</u></h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-8 col-md-6 col-sm-12">
								<h2>brief information about Huzhou university</h2>
									<p> Huzhou university started to accept foreign students in 2010 , the first student was from Russia>>> <a href="http://www.zjhu.edu.cn/"><i><b><u>click here</u></b></i></a>. and the first black student in Huzhou came in 2015. </p>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="about-img">
									<img class="img-fluid rounded" src="images/about-img-01.jpg" alt="" />
								</div>
							</div>
						</div>
						<div class="row align-items-center about-main-info">
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="about-img">
									<img class="img-fluid rounded" src="images/about-img-02.jpg" alt="" />
								</div>
							</div>
							<div class="col-lg-8 col-md-6 col-sm-12">
								<h2> Secret Of Huzhou university</h2>
								<p>All International students are thhought in english so do not worry , feel free to come and study here in Huzhou university. They are lot of proffesional teacheers of all classes.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Start Story -->
	<div id="story" class="story-box main-timeline-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2><u><i><b>Our Story</b></i></u></h2>
						<p>Huzhou University is located in Huzhou City, Zhejiang Province. Huzhou has convenient transportation facilities because Shanghai is nearby in the east and Hangzhou in the south. It is situated on the south side of Taihu Lake with Suzhou and Wuxi on the north side of the lake. Huzhou is a progressive city with a sound economy and rich heritage.

							The campus is surrounded by beautiful scenery with a graceful river. The University has comfortable dormitories, full modern classroom buildings and facilities. The campus lies on more than 111 hectares of the land with more than 380,000 square meters of teaching building. The University consists of ten Schools to meet the educational requirements of the students. These Schools include: School of Humanities, School of Law and Business, School of Foreign Languages, School of Sciences, School of Life Sciences, School of Medicine, School of Information Engineering, School of Arts, School of Physical Education, School of Education Science and Technology. These schools offer 42 Bachelor’s degree programs and Associate-degree programs covering literature, law, history, economy, administration, education, science, engineering and medicine. At present, the University has more than 1200 faculty members, among whom over 400 are professors and associate professors. Currently the number of full-time students in attendance is 14,000 with more than 4,000 students receiving continuing education service. </p>
					</div>
				</div>
			</div>
			<div class="row timeline-element separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            15 October 2017  
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">First day in Huzhou University</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
						   This is the day our journey started and all the registration was done on this day.
						</p>
					 </div>
				</div>
			</div>
			<div class="row timeline-element reverse separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            10 September 2018  
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-right">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Our second Semester</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
						   After one year of hard work we then reached our second year on this day and lot of us passed with good results.
						</p>
					 </div>
				</div>
			</div>
			<div class="row timeline-element separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            1 September 2019  
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font"></h4>my daily bread
						<p class="mbr-timeline-text mbr-fonts-style display-7">
						this is my third year here in China and all things are in other . and now i created this website with the help of my teacher Mr Zhu.
						</p>
					 </div>
				</div>
			</div>
			<div class="row timeline-element reverse separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            30 June 2021  
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-right">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">arrival(Exit day)</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
						this is the day we are going to move out of Huzhou University after our four years studying computer science.
						</p>
					 </div>
				</div>
			</div>
			
		</div>
	</div>
	
	<!-- Start Family -->
	<div id="family" class="family-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2><u><i><b>Family</b></i></u></h2>
						<p>During my studies in Huzhou i have managed to get a family from 47 different counties. and my parents in Huzhou are the following people : </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
							<img class="img-fluid" src="images/family-01.jpg" alt="" />
						</div>
						<div class="family-info">
							<h4>Mrs Ever  </h4>
							<p>{ The head of International Students }</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
							<img class="img-fluid" src="images/family-02.jpg" alt="" />
						</div>
						<div class="family-info">
							<h4>Mr. Shushu </h4>
							<p>{ Our father in my domitory 26 }</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
							<img class="img-fluid" src="images/family-03.jpg" alt="" />
						</div>
						<div class="family-info">
							<h4>Mrs. Shushu  </h4>
							<p>{ Our mother in my domitory 26 }</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
							<img class="img-fluid" src="images/family-04.jpg" alt="" />
						</div>
						<div class="family-info">
							<h4>Mr.Head teacher </h4>
							<p>{ provides all things we need }</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
							<img class="img-fluid" src="images/family-05.jpg" alt="" />
						</div>
						<div class="family-info">
							<h4>The A4 </h4>
							<p>{ My Crue <br>my team}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
							<img class="img-fluid" src="images/family-06.jpg" alt="" />
						</div>
						<div class="family-info">
							<h4>Alec Mabhiza Chirawu </h4>
							<p>{ I do protect myself also }</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Start Gallery -->
	<div id="gallery" class="gallery-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2><i><b>How Huzhou University looks:</b></i><u></u></h2>
						<p>So if you find a moderately-sized still lake, try to come there at sunrise and sunset a few times and see what you can get (a tripod might be necessary to get a good picture). For portrait photography, drive around and see if you can find locations that will look good in the background. </p>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="popup-gallery clearfix">
					<li>
						<a href="images/gallery-01.jpg">
							<img class="img-fluid" src="images/gallery-01.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="images/gallery-02.jpg">
							<img class="img-fluid" src="images/gallery-02.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="images/gallery-03.jpg">
							<img class="img-fluid" src="images/gallery-03.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="images/gallery-04.jpg">
							<img class="img-fluid" src="images/gallery-04.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="images/gallery-05.jpg">
							<img class="img-fluid" src="images/gallery-05.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="images/gallery-06.jpg">
							<img class="img-fluid" src="images/gallery-06.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="images/gallery-07.jpg">
							<img class="img-fluid" src="images/gallery-07.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="images/gallery-08.jpg">
							<img class="img-fluid" src="images/gallery-08.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- Start Events -->
	<div id="events" class="events-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2><u><i><b>Events</b></i></u></h2>
						<p>Students in Huzhou University are well known for good behavior and well displine, International students are well allowed to do all kinds of events that are done in the school such as the following: </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="event-inner">
						<div class="event-img">
							<img class="img-fluid" src="images/event-img-01.jpg" alt="" />
						</div>
						<h2>Soccer</h2>
						<p>Amaizing games are played here in Huzhou University. </p>
						<!--<a href="#">See location ></a>-->
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="event-inner">
						<div class="event-img">
							<img class="img-fluid" src="images/event-img-02.jpg" alt="" />
						</div>
						<h2>Tennis </h2>
						<p>Many girls love to play this sport so do International girls. </p>
						<!--<a href="#">See location ></a>-->
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="event-inner">
						<div class="event-img">
							<img class="img-fluid" src="images/event-img-03.jpg" alt="" />
						</div>
						<h2>Basket ball </h2>
						<p>No doubt that many trophies are being collected here by this guys: </p>
						<!--<a href="#">See location ></a>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Start Contact -->
	<div id="contact" class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2><u><i><b>Contact wth us</b></i></u></h2>
						<p>Huzhou University International Students </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
				  <div class="contact-block">
					<form id="contactForm">
					  <div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
								<div class="help-block with-errors"></div>
							</div>                                 
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<select class="custom-select d-block form-control" id="guest" required data-error="Please select an item in the list.">
								  <option disabled selected>How many are you?*</option>
								  <option value="1">1</option>
								  <option value="2">2</option>
								  <option value="3">3</option>
								  <option value="4">4</option>
								  <option value="5">5</option>
								</select>
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<select class="custom-select d-block form-control" id="event" required data-error="Please select an item in the list.">
								  <option disabled selected>I want*</option>
								  <option value="1">to apply for Huzhou University Scholarship</option>
								  <option value="2">to visit Huzhou University</option>
								  <option value="3">to know more</option>
								</select>
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group"> 
								<textarea class="form-control" id="message" placeholder="Your Message" rows="8" data-error="Write your message" required></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="submit-button text-center">
								<button class="btn btn-common" id="submit" type="submit">Send Message</button>
								<div id="msgSubmit" class="h3 text-center hidden"></div> 
								<div class="clearfix"></div> 
							</div>
						</div>
					  </div>            
					</form>
				  </div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">All Rights Reserved. &copy; 2019 <a href="#">MY LIFE AT HUZHOU UNIVERSITY</a> Design By : <a href="https://alecmabhizachirawu@gmail.com/">Alec Mabhiza Chirawu---2017060056</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<!-- ALL JS FILES -->
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.pogo-slider.min.js"></script> 
	<script src="js/slider-index.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
	
</body>
</html>