<h1 class="text-center mt-4"><u>Welcome To Huzhou University </u></h1>
<p>Huzhou University is a full-time comprehensive university. Its history dated back to the year of 1916 when the Qiantang Dao(“Dao” is an old administrative unit, almost likes the “county”) set up the NO.3 Teachers’ Training School. It began to carry out higher education program in 1958, and started to enroll undergraduates in 1994. In March 1999, Huzhou University was founded by consolidating three former colleges and schools: Huzhou Normal Junior College, Huzhou Teacher’s School and Huzhou Teacher’s Training School. In May 2000, former Huzhou Medical School was merged into the newly founded university. Huzhou University passed the assessment of undergraduate teaching work organized by the Ministry of Education for evaluation of “good” in November 2005. The university has been entitled as the National Civilized Unit. It is qualified to enroll and cultivate both undergraduates and postgraduates and among the list of pilot universities to implement the national education training programs called “Excellent Doctors” and “Excellent Talents of Agriculture and Forestry”. Huzhou University is one of the key universities in the process of enrollment of regular institutions of higher education in Zhejiang Province.



    Huzhou University is located in Huzhou, Zhejiang Province. It is a historic city with beautiful landscape and convenient transportation . Surrounded by Shanghai, Hangzhou, Nanjing and facing Suzhou and Wuxi across the Tai Lake, Huzhou is famous for its profound cultural background and excellent ecological environment as well as outstanding regional advantages. As the only full-time undergraduate university in Huzhou, Huzhou University is a bright pearl lying on the southern bank of Tai Lake.   
    
    
    
    Huzhou University has an area of 1600 Mu, including 550000 square meters of buildings,350000 square meters of green area. It constitutes three campuses- eastern, central and western campus. They are reasonably planned with beautiful environment and have attractive scenery in each season. The university is comprised of 14 secondary schools,1 independent college- Qiuzhen college,2 clinical medical schools,4 affiliated hospitals,1 affiliated middle school and 2 affiliated primary schools. It has more than 18000 full-time students and 5000 part-time students. Its library, with an overall floorage of 30000 square meters, collects more than 2080000 books(including e-books ) and subscripts over 1500 kinds of periodicals. 
    
    </p>
<p class="lead mb-3"><b> <i>Hello <%= user.name %>  welcome to Huzhou Huzhou International University. </i> </b></p>
<a href="/users/logout" class="btn btn-danger">Logout</a>
<a href="https://captaincheq.github.io/Huzhou-University-International-students-Web-App/" class="btn btn-primary">Continue to site</a>