<h1 class="text-center mt-4">Welcome To Huzhou University</h1>
<p class="lead mb-3">Hello <%= user.name %></p>
<a href="/users/logout" class="btn btn-danger">Logout</a>
<a href="https://captaincheq.github.io/Huzhou-University-International-students-Web-App/" class="btn btn-primary">Continue to site</a>