            <div class="row mt-5">
                <div class="col-md-5 m-auto">
                        <h1 class="mt-4">Huzhou University</h1>
                    <h2 class="lead mb-3">Welcome <%= user.name %></h2>
                    <a href="/users/logout" class="btn btn-danger">Logout</a>
                    <a href="https://captaincheq.github.io/Huzhou-University-International-students-Web-App/" class="btn btn-info">Next</a>
                </div>
            </div>