<!DOCTYPE html>

<html lang="en">

<head>

  <title>Access keys</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

  <link rel="stylesheet" href="CSS.css" />

</head>

<body>

  <main>

    <div class="container text-center">

      <h1 class="py-4 text-danger">
        Keys Array
      </h1>

      <div class="d-flex py-2 justify-content-center">

        <form class="w-50">

          <input type="text" id="index" class="form-control" autocomplete="off"
            placeholder="Insert Index of your entry" />

          <input type="text" id="service" class="form-control" autocomplete="off"
            placeholder="Insert Name/Link of the Service Provider" />
          <div class="row">

            <div class="col">

              <input type="text" id="username" class="form-control m-0" autocomplete="off"
                placeholder="Insert your Username" />

            </div>

            <div class="col">

              <input type="text" id="password" class="form-control m-0" autocomplete="off"
                placeholder="Insert your Password" />

            </div>
          </div>
        </form>
      </div>

      <div class="d-flex justify-content-center">

        <button class="btn btn-info" href="">Reload</button>

        <button class="btn btn-success" id="btn-create">Save</button>

        <button class="btn btn-info" id="btn-read">Refresh</button>

        <button class="btn btn-danger" id="btn-update">Edit</button>

        <button class="btn btn-danger" id="btn-delete">Purge</button>

        <button class="btn btn-info" href="">Exit</button>

      </div>

      <div class="d-flex table-data justify-content-center">

        <table class="table table-striped justify-content-center">

          <thead>

            <tr>

              <th scope="col">Index</th>

              <th scope="col">Service</th>

              <th scope="col">Username</th>

              <th scope="col">Password</th>

              <th scope="col">Edit</th>

              <th scope="col">Delete</th>

            </tr>

          </thead>

          <tbody id="tbody">

          </tbody>

        </table>

      </div>

      <div id="notfound"></div>

    </div>

  </main>

  <div class="w-100 btn btn-success insertmsg">Data Inserted Successfully</div>

  <div class="w-100 btn btn-warning updatemsg">Data Updated Successfully</div>

  <div class="w-100 btn btn-danger deletemsg">Data Deleted Successfully</div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

  <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>

</body>

</html>