<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>Digital Dashboard</h1>
      <h2>Developed by 2017002106</h2>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/users/login" class="btn btn-info btn-block">Login</a>
    </div>
  </div>
</div>